<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ij.personal.helpy">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_helpy"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SettingsActivity"
            android:parentActivityName=".MainActivity"></activity>
        <activity
            android:name=".Contact_Activity.ContactActivity"
            android:exported="true"
            android:parentActivityName=".TopicList.TopicListActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TopicList.AddTopicActivity"
            android:label="@string/title_add_new_subject"
            android:theme="@style/ThemeDialogWithCorners" /> <!-- android:theme="@style/ThemeDialogWithCorners" /> ou android:theme="@style/Theme.AppCompat.Light.Dialog" /> -->
        <activity
            android:name=".authentication.SignInActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TopicList.TopicListActivity"
            android:label="@string/title_activity_need_help_topic_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".authentication.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>